.site-navbar {
  width: 100%;
  background: #f8f9fa;
}

.text-center {
  background-color: #ffb81f;
  margin-bottom: 0;
}

.site-navbar .navbar-inner {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-links-wrapper {
  width: 100%;
}

.navbar-nav {
  width: 100%;
}

.site-navbar .nav-search {
  display: inline-flex;
  align-items: center;
}

.site-navbar .nav-search-icon {
  width: 20px;
  height: 20px;
  margin-top: 0.75rem;
}

.hero-div {
  position: relative;
}

.hero-div-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* outline: 1px solid red; */
}

.hero-div-inner button {
  background-color: #9156a7;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
}

.hero-div-inner > span:nth-child(1) {
  display: block;
  background: black;
  color: white;
  width: 100px;
  margin: 0 auto;
}

.hero-div-inner > span:nth-child(2) {
  display: block;
  background: #ffb81f;
  color: white;
  width: 170px;
  margin: 0 auto;
}

.hero-div-inner h1 {
  color: white;
}

.inner-schedule {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-div img {
  width: 100%;
  object-fit: cover;
}

#service {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: white;
  margin-bottom: 15px;
}

.container div > ul {
  list-style-position: outside;
}

.left {
  background: #006992;
}

.middle {
  background: #27476e;
}

.right {
  background: #001d4a;
}

.left,
.middle,
.right {
  border-radius: 15px;
  padding: 10px;
}

.footer-wrapper {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}

.footer-left,
.footer-middle,
.footer-right {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

@media (min-width: 992px) {
  .site-navbar .navbar-inner {
    flex-wrap: nowrap;
  }

  .site-navbar .navbar-collapse {
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;
    display: flex !important;
    align-items: center;
  }

  .site-navbar .nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .site-navbar .navbar-nav {
    width: auto;
    flex-direction: row;
  }

  .site-navbar .nav-search {
    margin-left: auto;
  }

  .site-navbar .nav-search-icon {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
  }

  .left,
  .middle,
  .right {
    /* background-color: green; */
    width: 300px;
  }

  .footer-wrapper {
    gap: 15px;
    padding: 10px;
  }

  .footer-wrapper div {
    font-size: 12px;
  }

  .hero-div-inner {
    width: 300px;
    margin: 80px 0;
  }

  .services {
    margin-top: 100px;
  }
}
