.site-navbar {
  width: 100%;
  background: #f8f9fa;
}

.text-center {
  background-color: #ffb81f;
  margin-bottom: 0;
}

.site-navbar .navbar-inner {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-links-wrapper {
  width: 100%;
}

.navbar-nav {
  width: 100%;
}

.site-navbar .nav-search {
  display: inline-flex;
  align-items: center;
}

.site-navbar .nav-search-icon {
  width: 20px;
  height: 20px;
  margin-top: 0.75rem;
}

.hero-div {
  position: relative;
}

.hero-div-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-div img {
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container div {
  display: flex;
}

.container div > ul {
  list-style: none;
  padding: 0;
}

.container-inner {
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  background: black;
  color: white;
}

@media (min-width: 992px) {
  .site-navbar .navbar-inner {
    flex-wrap: nowrap;
  }

  .site-navbar .navbar-collapse {
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;
    display: flex !important;
    align-items: center;
  }

  .site-navbar .nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .site-navbar .navbar-nav {
    width: auto;
    flex-direction: row;
  }

  .site-navbar .nav-search {
    margin-left: auto;
  }

  .site-navbar .nav-search-icon {
    margin-top: 0;
    margin-left: 1rem;
  }
}
